<table class='border'>
  <tr>
    <th>Orgao</th>
    <th>Tipo dataset</th>
    <th>Nome</th>
    <th>Formato dataset</th>
    <th>Licenca</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @datasets %>

</table>
<%= will_paginate @datasets %>
