<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @granularidade_temporal.nome %>
</p>


<%= link_to 'Edit', edit_granularidade_temporal_path(@granularidade_temporal) %> |
<%= link_to 'Back', granularidade_temporals_path %>
