<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @formato_dataset.nome %>
</p>


<%= link_to 'Edit', edit_formato_dataset_path(@formato_dataset) %> |
<%= link_to 'Back', formato_datasets_path %>
