<!-- = f.fields_for :links do |l| -->
    <tr>
		<!-- l.hidden_field :tipo_link_id, :value => TipoLink.find_by_tipo('Comunicação Externa').id -->
		<td><%= f.collection_select(:tipo_link_id, TipoLink.all, :id, :tipo, :include_blank => true) %></td>
		<td><%= f.text_field :titulo, :size => '20' %></td>
		<td><%= f.text_field :url, :size => '50' %></td>
	</tr>
<!--  end % -->
