<table class='border'>
  <tr>
    <th width='40%'>Nome do Órgão</th>
    <th width='50%'>Data de Cadastramento</th>
	<th width='5%'>Quantidade de Datasets</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @orgaos %>

</table>
<%= will_paginate @orgaos, :renderer => 'RemoteLinkRenderer' %>
<br/>
