<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @granularidade_geografica.nome %>
</p>


<%= link_to 'Edit', edit_granularidade_geografica_path(@granularidade_geografica) %> |
<%= link_to 'Back', granularidade_geograficas_path %>
