<p>Olá <%= @resource.email %>!</p>

<p>Segue o link para recuperação da senha do sistema de Catálogos de Dados do Governo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou a recuperação de senha, ignore este email.</p>
<p>Sua senha só será alterada após você clicar no link acima e criar uma nova senha.</p>
