<h1>Edição de Dispositivo da Carta de Serviços ao Cidadão</h1>

<%= render 'form' %>

<%= link_to 'Detalhar', @inciso_carta_servicos_cidadao %> |
<%= link_to 'Voltar', inciso_carta_servicos_cidadaos_path %>
